{% extends 'base.html' %}

{% block title %}Register{% endblock %}


{% block content %}
<div class="container my-5">

    <h1>Sign Up</h1>
    <p class="lead">Register to join our application!</p>

    <form method="POST">

        {{form.hidden_tag()}}

        {% for field in form if field.widget.input_type != 'hidden': %}

        <p>
            {{field.label}}
            {{field(class_="form-control")}}

            <span class="form-text text-danger">
                {% for error in field.erros %}
                {{error}}
                {% endfor %}
            </span>
        </p>

        {% endfor %}

        <button class="btn btn-primary">Register</button>

    </form>

    
</div>

{% endblock %}