{% extends 'base.html' %}
{% block title %}Update Feedback{% endblock %}


{% block content %}
<h3 class="mt-5">Submit New Feedback</h3>
<form action="/feedback/{{feedback.id}}/update" method="POST">
    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != 'hidden': %}
    <div class="form-group">
        {{field.label}}
        {{field(class_="form-control")}}
    </div>

    {% endfor %}
    <button class="btn btn-primary">Update Feedback</button>
</form>

{% endblock %}